/**
 * Simple MPEG-DASH Streaming player
 */

 body {
   font-family:'Segoe UI';
   background-color:#f0f0f0;
  }
 /* set up parameter and video display*/
 /* Zoom or shrink video based on the native size of the video*/
 video {
   width:480px;
   height:360px;
   border:1px black solid;
 }
 #section1 {
  position:absolute; 
  margin-top:10px;
  margin-left:10px;

}
#section2 {  
  position:absolute;
  margin-top:100px;
  margin-left:50%;
}